
/* Some default styles to make each box visible */

.services-header {
    color: $primary-color;
    font-size: 48px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding-top: 10px;
}


.services-sub-header {
    color: $primary-color;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}


.box-sb {
  p, li {
    color: rgba(0,0,0,0.85);
    font-family: 'Roboto', sans-serif;
    font-size: rem-calc(14);
    line-height: rem-calc(20);
    text-align: left;
  }

  padding:10px;
/*  border:1px solid black;
  border-radius: 1px;*/
}

.title-service-boxes {
  color: rgba(0,0,0,0.85);
  font-family: 'Roboto', sans-serif;
  font-size: rem-calc(24);
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}

.services-image {
  height: 200px;
  max-width: 300px;
}



/* We start writing out flexbox here. The above is just page setup */
.wrapper-services {
  max-width: 1600px;
  margin: 0 auto;
  padding:50px;
}

/* Flex Container */
.flex-services {
  /*border:1px solid black;*/
/*  list-style: none;*/
  margin: 0;
  padding: 0;
  display:flex;
/*  align-items: stretch;*/
  flex: 1;
}

.box-sb {
  background:rgba(0,0,0,0.05);
    /*border:1px solid black;*/
  margin: 20px;
  width:500px;

  flex:1;
  display: flex;
  flex-wrap: wrap;
}

.box-sb > * {
  flex: 1;
  flex-basis: 100%;
}

.box-sb .more-info {
  align-self: flex-end;
}
