/* Header */
.page-header {
    color: $white;
    font-size: 48px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding-top: 50px;
}

.page-sub-header {
    color: $white;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}


/* We start writing out flexbox here. The above is just page setup */
.wrapper-page-header {
    width: 100%;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e5d7c+0,f2fafe+100 */
background: rgb(14,93,124); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(14,93,124,1) 0%, rgba(242,250,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(14,93,124,1) 0%,rgba(242,250,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(14,93,124,1) 0%,rgba(242,250,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e5d7c', endColorstr='#f2fafe',GradientType=0 ); /* IE6-9 */

}

.flex-header {

  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  height: 300px;
}
