<div class="wrapper-footer">
<div class="flex-footer">

  <div class="box-fb box-fb1">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="about.html">Gallery</a></li>
      <li><a href="testimonials.html">Testimonials</a></li>
    </ul>
  </div>

  <div class="box-fb box-fb2">
    <ul>
      <li><a>Services</a></li>
      <li><a>Carpet Cleaning</a></li>
      <li><a>Tile Cleaning</a></li>
      <li><a>Upholstery Cleaning</a></li>
    </ul>
  </div>

  <div class="box-fb box-fb3">
    <ul>
      <li><a>Contact Us</a></li>
      <li><a>Tile Cleaning</a></li>
      <li><a>Water Damage Restoration</a></li>
      <li><a>Upholstery Cleaning</a></li>
    </ul>
  </div>

  <div class="box-fb box-fb4">
    <form data-abide novalidate>

        <label><h5>Join our email list</h5>
          <div class="email-group">
            <input type="text" class="email-list" placeholder="Enter your email address" required pattern="email" maxlength="20">
            <input type="submit" class="button" value="Submit">
            </div>
            <span class="form-error">
                <i class="fi-alert"></i> Your email is required</span>

        </label>


      </form>


  </div>
  </div>
  </div>
