<!-- Flex Container! -->
<div class="wrapper-header-boxes">
  
  <div class="box-hb box-hb1">
      <img src="assets/img/logo.jpg" alt="company logo" class="logo">
      <div class="ultimate-header"><i class="blue-the">the</i> Ultimate <i class="green-clean">Clean</i></div>

    </div>
    <div class="box-hb box-hb2">

        <div class="orbit header-orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <figcaption class="orbit-caption"><h3 class="ultimate-sub-header">The World at your Feet</h3></figcaption>
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="assets/img/img-1.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-2.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-3.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-4.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-5.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-6.jpg" alt="Space">
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="assets/img/img-7.jpg" alt="Space">
          </li>
        </ul>
    </div>
  </div>
  </div>
