  <!-- Flex Container! -->
  <div class="wrapper-services">
    <div class="flex-services-header">
        <h1 class="services-header">Welcome to the Ultimate Clean, our goal is simple</h1>
        <h3 class="services-sub-header">To provide you with a great cleaning experience</h3>
      </div>

    <div class="flex-services">
      <div class="box-sb box-sb1">
        <img class="services-image" src="assets/img/img-8.jpg" alt="Space">
            <div class="title-service-boxes">Carpet Cleaning</div>
          <p>Do you want the <strong>Ultimate</strong> carpet cleaning in Perth?
            At the Ultimate Clean we <strong>Gaurentee</strong> you will be impressed.
              We use the best Carpet Cleaning system.
            </p>
            <ul>
              <li>Carpet Steam Cleaning (Hot Water Extraction)</li>
              <li>Dry Carpet Cleaning (Bonnet Cleaning)</li>
              <li>Encapsulation (Low Moisture Carpet Cleaning)</li>
            </ul>
            <p>
              Are you moving in/out?
              Wanting healthy carpet cleaning for your own piece of mind.
              We can HELP.
            </p>
            <a class="expanded button hollow more-info">For more information</a>
          </div>
  <div class="box-sb box-sb2">
    <img class="services-image" src="assets/img/img-5.jpg" alt="Space">
    <div class="title-service-boxes">Tile Cleaning</div>
    <p>Do you want the <strong>Ultimate</strong> tile and grout cleaning. At the Ultimate Clean we use the best
    Tile and Grout Cleaning system in <strong>Perth.</strong></p>
    <ul>
      <li>Pre-inspection</li>
      <li>Dry sweep of the area</li>
      <li>Application of a specialised cleaning solution</li>
      <li>Agitation with brush or pad to loosen soiling</li>
      <li>High temperature and high pressure cleaning and extraction with powerful truck mount machine</li>
      <li>Dry mop of floors</li>
      <li>Placement of our air-movers to blow-dry your floors</li>
    </ul>
    <a class="expanded button hollow more-info">For more information</a>
    </div>
    <div class="box-sb box-sb3">
      <img class="services-image" src="assets/img/img-7.jpg" alt="Space">
      <div class="title-service-boxes">Upholstery Cleaning</div>
      <p>
        The Ultimate Clean has a 7 step cleaning process which enables the best Upholstery Clean available in Perth.
        Every step is designed to get your upholstery sparkling clean and help it to stay clean for longer.
      </p>
      <ul>
        <li>Pre-inspection and dye migration test</li>
        <li>Pre-vacuum</li>
        <li>Pre-treatment</li>
        <li>Hand Scrub</li>
        <li>Hand Scrub</li>
        <li>Fabric Protector</li>
        <li>High speed air mover</li>
      </ul>
      <a class="expanded button hollow more-info">Fore more information</a>
  </div>
  <div class="box-sb box-sb4">

    <h3>
      Call now on
    </h3>

      <h3><input type="submit" class="button expanded success" value="9330 4920"></h3>
<br>
<br>
        <h3>
          Book online
        </h3>
        <label>Name
          <input type="text" placeholder="Name">
          <span class="form-error">
              <i class="fi-alert"></i> Your name is required</span>
        </label>
        <label>Email
          <input type="text" placeholder="Email">
          <span class="form-error">
              <i class="fi-alert"></i> Your email is required</span>
        </label>
        <label>Phone Number
            <input type="text" placeholder="Your Phone Number" required pattern="number">
            <span class="form-error">
                <i class="fi-alert"></i> Your phone number is required</span>
        </label>
        <label>Cleaning
    <select>
      <option value="carpet-cleaning">Carpet Cleaning</option>
      <option value="tile-cleaning">Tile Cleaning</option>
      <option value="upholstery-cleaning">Upholstery Cleaning</option>
      <option value="other">Other</option>
    </select>

    </label>
    <br>
        <label>
          Message
          <textarea placeholder="Leave a message"></textarea>
        </label>
        <br>
        <input type="submit" class="button expanded" value="Submit">
      </div>

    </div>

</div>
