{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<meta name="description" content="People use The Ultimate Clean to clean everything from the city's favorite hotels carpets to the most humble apartment." />
<meta name="keywords" content="Carpet Cleaner in Perth, Carpet Cleaner Perth, Carpet Cleaners in Perth, Carpet Cleaners Perth, Carpet Cleaning in Perth, Carpet Cleaning Perth, Perth Carpet Cleaner, Perth Carpet Cleaners, Perth Carpet Cleaning" />
<title>Perth WA Carpet Cleaners, Tile and Grout Cleaners and Upholstery Cleaners</title>

<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/css/foundation-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>



         {{> nav-bar}}
         {{> page-header}}


         {{> body}}
         {{> footer}}
         {{> footer-copyright}}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  </body>
</html>
